.dashboard {
  width: 100%;
  height: calc(100vh - 60px);
  background: #ffe5b4;
  display: grid;
  grid-template-columns: 9rem auto;
  overflow: hidden;
}

.dashContainer {
  grid-template-columns: 9rem auto;
}

.dashboard::-webkit-scrollbar {
  display: none;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 425px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .dashContainer {
    display: flex;
    flex-direction: column;
  }
}

/* Media Query for Medium Screens */
@media only screen and (max-width: 768px) {
  .dashboard {
    grid-template-columns: 6rem auto;
  }

  .dashContainer {
    grid-template-columns: 6rem auto;
  }
}
