.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titre {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.missions-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.mission {
  width: 60%;
  margin: 1% auto;
  padding: 4%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Michroma", sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  box-sizing: border-box;
}

.valider {
  background-color: darkgreen;
  width: 35%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: clamp(0.6rem, 2vw, 1.2rem);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.abandonner {
  background-color: darkred;
  width: 35%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: clamp(0.6rem, 2vw, 1.2rem);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.valider:hover {
  background-color: green;
}

.abandonner:hover {
  background-color: firebrick;
}

.mission-status-1 {
  background-color: #f9f9f9;
  border: 1px solid #999;
  padding: 4%;
}

.mission-status-2 {
  background-color: orange;
  border: 1px solid #999;
  padding: 4%;
}

.mission-status-3 {
  background-color: green;
  border: 1px solid #999;
  padding: 4%;
}

.mission-status-4 {
  background-color: darkred;
  border: 1px solid #999;
  padding: 4%;
}

.expanded-1 {
  background-color: #f9f9f9;
  border: 1px solid #999;
  padding: 4%;
}

.expanded-2 {
  background-color: orange;
  border: 1px solid #999;
  padding: 4%;
}

.expanded-3 {
  background-color: green;
  border: 1px solid #999;
  padding: 4%;
}

.expanded-4 {
  background-color: darkred;
  border: 1px solid #999;
  padding: 4%;
}

.cloudinary-image {
  max-width: 100%;
  height: auto;
}

.input-image {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}